body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1366px;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0 10px;
}
#about{
	position: absolute;
	width: 180px;
	height: 59px;
	left: 63px;
	/*top: 1414px;*/
	font-family: Calibri;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 59px;
	text-align: center;
	color: #2C2C2C;
}
.text{
	position: absolute;
	/*width: 1366px;*/
	height: 228px;
	left: 62px;
	margin-top:120px;
	/*top: 1489px;*/
	font-family: Calibri;
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 38px;
	letter-spacing: 0.035em;
	color: #343333;
}
.bt{
	position: absolute;
	width: 200px;
	height: 50px;
	left: 63px;
	/*top: 1753px;*/
	background: #D66939;
	margin-top:380px;
	font-family: Calibri;
	font-weight: bold;
	color: #000000;
	font-size: 24px;
	text-align: center;

}